* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    background-color: gray;
}

#canvas {
    width : 1000px;
    height: 600px;
    border: 2px dashed white;
}